@charset "UTF-8";

body{
    background-image: url(imagens/espaco.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
   border: 3px dashed red;
   

    
    
}
div{
    background-image: url(imagens/astronauta.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 200px;
    border: 3px solid green;
    height: 88vh;
  
}